*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root{
   --space: 60px;
   --header: 120px;
   --width: 750px;
   --width_listing: 900px;
}
a{
   text-decoration: none;
}
ul,ol,li{
   list-style: none;
}
.mobile{
   display: none;
}
body{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
}
body.hidden{
   overflow: hidden;
}
header{
   height: var(--header);
   border-bottom: 2px solid rgb(227, 227, 227);
   position: relative;
   padding: 0 var(--space);
}
header .menu_icon{
   width: 30px;
   height: 25px;
   position: absolute;
   right: var(--space);
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   z-index: 1;
}
header .menu_icon span{
   content: "";
   display: inline-block;
   width: 100%;
   height: 2px;
   position: absolute;
   top: 1px;
   background: #000;
}
header .menu_icon span:nth-child(2){
   top: 10px;
}
header .menu_icon span:nth-child(3){
   top: 20px;
}
.flex-center{
   display: flex;
   align-items: center;
   justify-content: center;
}
header .titre, footer .info-entity h2{
   font-size: 42px;
   height: var(--header);
   position: relative;
   font-family: "Times new roman";
   display: flex;
   align-items: center;
   letter-spacing: 10px;
}
header .titre a{
   color: #000;
}
header nav{
   position: absolute;
   top: 0px;
   right: var(--space);
}
.img-baner, .img-baner img{
   width: 100%;
}
.img-baner.listing{
   width: var(--width_listing);
   margin: 40px auto;
}
header nav ul{
   display: flex;
}
header nav li{
   height: var(--header);
   margin-left: 30px;
}
header nav li a{
   font-weight: bold;
   color: #000;
   font-size: 1.2em;
}
header nav li.active{
   position: relative;
}
header nav li.active::after{
   content: "";
   width: 100%;
   height: 3px;
   background-color: #000;
   position: absolute;
   left: 0;
   bottom: 0;
   display: inline-block;
}
.wrapper{
   margin: 42px 0;
}
.wrapper.listing{
   margin-top: 75px;
}
.title-page{
   width: var(--width);
   margin: auto;
}
.title-page h1{
   margin: auto;
   font-size: 2.4em;
   line-height: 1.25em;
   text-align: center;
   margin-bottom: 30px;
}
.title-page p{
   text-align: center;
   width: 500px;
   margin: auto;
   font-size: 1.3em;
   line-height: 1.6em;
}
.wrapper .author{
   width: var(--width);
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   --img: 50px;
   --socials: 160px;
   border-top: 3px solid #000;
   padding: 30px 0;
}
.wrapper.description .author{
   --img: 75px;
   --socials: 0px;
   border-top: 2px dotted #aaa;
   padding: 40px 0;
}

.wrapper .author > img{
   width: var(--img);
   height: var(--img);
   border-radius: 50%;
   background-color: #eee;
}
.wrapper .author .info{
   width: calc(100% - (var(--img) + var(--socials)));
   padding: 5px 20px;
   padding-bottom: 0;
   font-size: 1.1em;
}
.wrapper .author .info b{
   letter-spacing: 2px;
   text-transform: uppercase;
   font-size: .9em;
}
.wrapper .author .info p{
   font-size: 1em;
   margin-top: 5px;
}
.wrapper .author .info p span{
   display: inline-block;
   margin-left: 8px;
}
.wrapper .author .info p span::before{
   content:"";
   display: inline-block;
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background: #333;
   position: relative;
   left: -5px;
   top: -3px;
}
.wrapper.description .author p{
   font-size: 1.05em;
   line-height: 1.65em;
}
.wrapper.description .author p b{
   font-size: 1em;
}
.contact-social{
   width: var(--width);
   margin: 90px auto;
   margin-bottom: 0;
}
.wrapper .author .networks,.contact-social .networks{
   width: 100%;
   height: 48px;
   display: flex;
   box-shadow: 0 0 1px 1px rgba(0,0,0,.035),0 0 5px 1px rgba(0,0,0,.15);
   border-radius: 4px;
   width: var(--socials);
   margin-top: 7px;
   overflow: hidden;
}
.contact-social .networks{
   height: 75px;
}
.wrapper .networks li,.contact-social .networks li{
   width: 50%;
   border-right: 2px solid rgb(234, 234, 234);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
.contact-social .networks li{
   padding: 27px 0;
   border-width: 2px;
}
.contact-social .networks a{
   font-size: 1.1em;
   color: #000;
   display: flex;
}
.wrapper .networks li:last-child{
   display: none;
}
.wrapper .networks img,.contact-social .networks img{
   width: 22px;
}
.contact-social .networks img{
   margin-right: 15px;
}
.contact-social>p{
   margin: 40px 0;
   font-size: 1.2em;
}
.contact-social>p a{
   color: #000;
   border-bottom: 2px solid #000;
}
.wrapper .post,.expand-text{
   width: var(--width);
   margin: auto;
}
.wrapper .post p, .expand-text p, .expand-text ul li{
   margin-bottom: 30px;
   margin-top: 20px;
   font-size: 1.4em;
   line-height: 1.8em;
}
.expand-text ul li{
   margin-left: 20px;
}
.expand-text ul li::before{
   content: "";
   display: inline-block;
   width: 6.5px;
   height: 6.5px;
   background-color: #000;
   transform: rotate(45deg);
   position: relative;
   left: -20px;
   top: -4px;
}
.wrapper .post h2{
   font-size: 2.15em;
   margin-top: 80px;
   margin-bottom: 35px;
}
.img-patron{
   width: calc(var(--width) + 200px);
   margin: 50px auto;
}
.img-patron img{
   width: 100%;
   display: block;
}
.img-patron p{
   width: 60%;
   padding: 15px 10px;
   font-size: 1.25em;
   line-height: 1.5em;
   margin: auto;
   text-align: center;
}
.container-articles{
   margin-top: 105px;
   border-top: 3px solid #000;
   position: relative;
}
.container-articles.listing{
   width: var(--width);
   margin: auto;
   margin-bottom: 100px;
}
.container-articles h2{
   font-size: 3.2em;
   margin: 60px 0;
   margin-bottom: 35px;
   font-family: "Times new roman";
   text-align: center;
}
.container-articles .yeux{
   display: inline-block;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translateX(-50%) translateY(-50%);
}
.container-articles .yeux span{
   display: inline-block;
   width: 50px;
   height: 73px;
   margin-right: -8px;
   border-radius: 50%;
   border: 2px solid #000;
   background-color: #fff;
   position: relative;
}
.container-articles .yeux span::before{
   content: "";
   display: block;
   width: 20px;
   height: 29px;
   border-radius: 50%;
   background-color: #000;
   position: absolute;
   bottom: 6px;
   right: 9px;
}
.container-articles .wrap{
   width: 70%;
   padding: 40px 0;
   margin: auto;
}
.container-articles.listing .wrap{
   padding-top: 0px;
   width: 100%;
}
.container-articles.listing h2{
   margin-top: 70px;
   margin-bottom: 45px;
}
.container-articles .grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 40px 30px;
}
.container-articles.listing .grid{
   grid-template-columns: repeat(2,1fr);
}
.container-articles .grid article > a{
   background-color: #ddd;
   display: block;
   width: 100%;
   min-height: 208px;
}
.container-articles .grid article img{
   display: block;
   width: 100%;
}
.container-articles .grid article p{
   margin: auto;
   margin-top: 25px;
   font-size: 1.5em;
   width: 80%;
   text-align: center;
   line-height: 1.3em;
}
.container-articles .grid article p a{
   color: #000;
}
.container-articles .newsletter{
   width: 65%;
   padding: 60px 50px;
   border: 2px solid #000;
   border-top-width: 12px;
   margin: 140px auto;
   margin-bottom: 100px;
}
.container-articles .newsletter h2{
   margin-top: 0;
   margin-bottom: 15px;
   font-size: 2.7em;
}
.container-articles .newsletter p{
   font-size: 1.4em;
   text-align: center;
   line-height: 1.5em;
}
.container-articles .newsletter .input-group{
   margin-top: 40px;
   display: flex;
}
.container-articles .newsletter .input-group > a{
   width: 180px;
   height: 60px;
   background-color: #000;
   color: #fff;
   text-transform: uppercase;
   font-size: 1.4em;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container-articles .newsletter .input-group input{
   width: calc(100% - 180px);
   height: 60px;
   display: flex;
   align-items: center;
   padding: 12px 15px;
   font-size: 1.4em;
   color: #000;
   border: 2px solid #000;
   outline: none;
}
.container-articles .newsletter .input-group input::placeholder{
   color: #000;
}
footer{
   background: #000;
   padding-bottom: 40px;
   overflow: hidden;
}
footer .liner ul{
   display: flex;
   width: 100vw;
   padding-top: 25px;
   justify-content: space-between;
   position: relative;
   left: -5px;
}
footer .liner ul li{
   margin: 0 6px;
}
footer .liner ul li:first-child{
   margin-left: 0;
}
footer .liner ul li a{
   color: #fff;
   font-size: 1.3em;
   text-transform: uppercase;
   word-spacing: 8px;
   font-weight: bold;
}
footer .liner ul li:nth-child(even) a{
   font-weight: normal;
   color: rgba(255,255,255,.85);
}
footer .info-entity{
   width: 550px;
   margin: auto;
   text-align: center;
   color: #fff;
   margin-top: 130px;
}
footer .info-entity h2{
   width: 100%;
   justify-content: center;
   font-weight: normal;
   margin-bottom: 15px;
   font-size: 40px;
}
footer .info-entity p{
   font-size: 1.2em;
   color: rgba(255,255,255,.9);
   line-height: 1.35em;
}
footer .info-entity ul{
   margin: 30px auto;
   margin-top: 60px;
   width: 50%;
   display: flex;
   justify-content: space-around;
}
footer .info-entity ul a{
   color: #fff;
   position: relative;
   font-size: 1.2em;
   border-bottom: 2px solid #fff;
}
footer .info-entity div{
   font-size: .9em;
   line-height: 1.5em;
   margin: auto;
   margin-top: 80px;
   width: 200px;
   text-align: center;
}
.text_share{
   font-size: 1.4em;
   margin-bottom: 15px;
   display: block;
}
.sm{
   display: none;
}
@media screen and (max-width: 640px){
   :root{
      --space: 25px;
      --width: 100%;
      --header: 85px;
   }
   .wrapper{
      padding: var(--space);
   }
   .title-page p{
      width: 90%;
   }
   .mobile{
      display: block;
   }
   header{
      border-bottom-width: 1px;
   }
   header .titre{
      font-size: 30px;
      letter-spacing: 5px;
   }
   header nav{
      width: 100vw;
      position: fixed;
      top: var(--header);
      height: calc(100% - var(--header));
      background-color: #fff;
      right: -100vw;
      transition: right .3s ease;
      z-index: 5;
      overflow: auto;
   }
   header nav.visible{
      right: 0;
   }
   header nav ul, header nav li{
      display: block;
   }
   header nav li{
      margin: 0;
      border-bottom: 1px solid rgba(0,0,0,.15);
   }
   header nav li.active::after{
      display: none;
   }
   .img-patron p{
      width: 100%;
      font-size: 1.1em;
      padding: 15px 25px;
   }
   .wrapper.expand-text{
      padding-top: 10px;
   }
   .wrapper .author{
      --socials: 100%;
   }
   .wrapper .author .info{
      width: calc(100% - var(--img));
   }
   .wrapper .author .networks{
      height: 65px;
      margin-top: 40px;
   }
   .wrapper .networks li:last-child{
      display: flex;
   }
   .wrapper .networks img{
      width: 27px;
   }
   .img-patron{
      width: 100%;
      margin: 0;
   }
   .img-baner, .img-baner img{
      width: 100%;
   }
   .img-patron img{
      width: 100%;
   }
   .wrapper.description .author p{
      font-size: .98em;
   }
   .container-articles{
      margin-top: 30px;
   }
   .container-articles .grid, .container-articles.listing .grid{
      gap: 50px 0;
      grid-template-columns: 1fr;
   }
   .container-articles.listing h2{
      margin-bottom: 28px;
      margin-top: 65px;
   }
   .container-articles .wrap{
      width: 100%;
      padding: 0 var(--space);
   }
   .container-articles h2, .container-articles.listing h2{
      font-size: 2.6em;
   }
   .container-articles .grid article > a{
      min-height: auto;
   }
   .container-articles .newsletter,.img-baner.listing{
      width: calc(100% + (var(--space) * 2));
      position: relative;
      left: calc(-1 * var(--space));
   }
   .img-baner.listing{
      margin-top: 0;
   }
   .wrapper.listing{
      margin-top: 30px;
   }
   .container-articles .newsletter{
      border-left: none;
      padding-left: 40px;
      padding-right: 40px;
      border-right: none;
      margin: 90px 0;
      margin-bottom: 50px;
   }
   .container-articles .newsletter h2{
      font-size: 2.5em;
      line-height: 1.1em;
   }
   .container-articles .newsletter p{
      font-size: 1.3em;
   }
   .container-articles .newsletter .input-group input{
      font-size: 1.2em;
      width: calc(100% - 110px);
   }
   .container-articles .newsletter .input-group > a{
      width: 110px;
      font-size: 1.2em;
   }
   footer .liner ul{
      width: 1300px;
      padding-top: 35px;
   }
   footer .liner ul li a{
      font-size: 1.1em;
   }
   footer .info-entity{
      width: 100%;
      padding: 0 var(--space);
      margin-top: 50px;
   }
   footer .info-entity h2{
      font-size: 32px;
      letter-spacing: 4px;
      margin-bottom: -15px;
   }
   footer .info-entity ul{
      margin: 40px auto;
   }
   footer .info-entity ul li{
      margin: 0 15px;
   }
   footer .info-entity div{
      font-size: 1em;
   }
   .container-articles .yeux{
      transform: translateX(-50%) translateY(-50%) scale(.8);
   }
   .wrapper.description .author{
      --img: 65px;
   }
   .wrapper.description{
      margin-bottom: 0;
      margin-top: 10px;
   }
   .contact-social>p{
      margin-bottom: 0;
   }
   .contact-social{
      margin-top: -5px;
      padding: 0 var(--space);
   }
   .contact-social .networks img{
      width: 27px;
   }
   .lg{
      display: none;
   }
   .sm{
      display: block;
   }
}